.button {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  font-weight: $f-bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $c-secondary;
  background: $c-white;

  &:hover {
    color: $c-primary;
  }
}

.button--load {
  width: auto;
  display: block;
}
