.search {
  &--main {
    input[type="search"] {
      width: 100%;
      width: calc(100% - 40px);
      border: 0;
      border-bottom: 2px solid $c-border;
      background: #F9F9F9;
      margin-bottom: 50px;
      padding: 20px;
      font-size: 18px;

      &:focus {
        box-shadow: none;
        outline: 0;
        border-bottom-color: $c-secondary;
      }
    }
  }
}
