.header {
  @include clearfix;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #eee;

  .wrapper {
    @include clearfix;
  }

  &__logo {
    // float: left;
    display: inline-block;
    vertical-align: sub;
    margin-bottom: 0;
    font-size: 18px;
    text-align: left;
    color: $c-secondary;

    svg {
      height: 25px;
      width: 25px;
      margin-top: -10px;
      vertical-align: middle;
    }

    a {
      vertical-align: sub;
      text-decoration: none;

      .header__logo__cado {
        color: $c-secondary;
      }

      .header__logo__mage {
        color: $c-primary;
      }
    }
  }

  &__nav {
    float: right;
    text-align: right;
  }

  &__nav-list {
    margin: 0;
    padding-left: 0;
    list-style: none;

    a {
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 1px solid currentColor;

      @include hover {
        border-bottom-width: 2px;
      }
    }

    li {
      display: inline-block;

      &.link--login {
        display: none; //currently hidden

        a {
          color: $c-green-github;

          @include hover {
            color: darken($c-green-github, 15%);
          }
        }
      }

      &.link--submit {
        display: block;
        padding: 9px 9px 8px;

        a {
          padding: 9px 9px 8px;
          color: #6C6C6C;
          background-color: #EEEEEE;
          border: 0;

          @include hover {
            background-color: darken(#EEEEEE, 10%);
          }
        }
      }
    }
  }
}
