.header {
  @include clearfix;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #eee;

  &__logo {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: $c-secondary;

    @include bp($bp-small) {
      float: left;
      text-align: left;
      margin-bottom: 0;
    }

    svg {
      height: 25px;
      width: 25px;
      margin-top: -10px;
      vertical-align: middle;
    }

    a {
      text-decoration: none;

      span {
        color: $c-secondary;
      }
    }
  }

  &__nav {
    text-align: center;

    @include bp($bp-small) {
      float: right;
      text-align: right;
    }
  }

  &__nav-list {
    margin: 0;
    padding-top: 2px;
    padding-left: 0;
    list-style: none;

    a {
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 1px solid currentColor;

      @include hover {
        border-bottom-width: 2px;
      }

      &.link--register {
        color: #969696;

        @include hover {
          color: darken(#969696, 15%);
        }
      }
    }

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
