.snippet {
  @include clearfix;
  margin-top: -40px;
  background-color: $c-background;

  @include bp($bp-medium) {
    position: relative;
    min-height: calc(100vh - 184px);
    background-color: $c-white;
  }

  &__like {
    display: none; //ability to like snippets not yet developed
    background: none;
    border: 0;
    outline: 0;

    svg {
      height: 25px;
      width: 25px;

      @include bp($bp-medium) {
        height: 32px;
        width: 32px;
      }
    }

    .outline * {
      fill: none;
      stroke: $c-pink;

      @include hover {
        fill: rgba($c-pink, .5);
      }
    }

    .glyph {
      display: none;

      * {
        fill: $c-pink;
      }
    }
  }

  &__header {
    position: relative;
    padding: 10px 20px 80px;

    @include bp($bp-small) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include bp($bp-medium) {
      position: inherit;
      float: right;
      width: 310px;
      padding: 20px;
      padding-bottom: 80px;
      border: 0;
    }

    h1 {
      margin-top: 5px;
      font-size: 22px;

      @include bp($bp-medium) {
        margin-top: 10px;
      }
    }
  }

  &__meta {
    .snippet__header & {
      margin-top: 10px;
      opacity: 1;

      svg {
        margin-right: 5px;
      }

      @include bp($bp-medium) {
        margin-top: 20px;

        svg {
          margin-right: 10px;
        }
      }
    }

    svg {
      @include svg;
    }
  }

  &__author {
    color: $c-gray;
    font-size: 11px;
    position: absolute;
    bottom: 50px;

    &__name {
      color: $c-primary;
    }
  }

  &__content {
    min-height: 250px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: $c-white;
    /*color: $c-white;*/
    /*background-color: $c-black;*/
    border-top: 1px solid #EBEBEB;
    overflow-x: auto;

    @include bp($bp-medium) {
      width: calc(100% - 352px);
      min-height: calc(100vh - 164px);
      padding: 0;
      border-top: 0;
      border-right: 2px solid #EBEBEB;

      .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    img {
      max-width: 100%;
    }

    code {
      display: block;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 20px 20px;
      color: $c-white;
      background-color: lighten($c-black, 12%);
      overflow-x: auto;

      @include bp($bp-small) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &__pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ededed;
    background: #ededed;

    @include bp($bp-medium) {
      position: absolute;
      bottom: 0;
      width: 350px;
      border-top: 2px solid #EBEBEB;
      border-left: 2px solid #EBEBEB;
    }
  }
}

%pagination-button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: $c-white;

  svg {
    height: 12px;
    width: 12px;
    vertical-align: middle;
    transition: transform 500ms ease-in-out;
  }

  &.button--disabled {
    transition: none;

    @include hover {
      svg {
        transform: none;
        animation: none;

        * {
          fill: inherit !important;
        }
      }
    }
  }

  @include hover {
    svg * {
      fill: $c-primary;
    }
  }
}

.pagination {
  &__random {
    @extend %pagination-button;
    width: 50px;

    @include hover {
      svg {
        animation: shake 700ms cubic-bezier(.36,.07,.19,.97) both; //"roll" the dice
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }

  &__previous {
    @extend %pagination-button;
    width: calc(50% - 26px);
    margin-right: 1px;

    @include hover {
      svg {
        transform: translateX(-150%);
      }
    }
  }

  &__next {
    @extend %pagination-button;
    width: calc(50% - 26px);
    margin-left: 1px;

    @include hover {
      svg {
        transform: translateX(150%);
      }
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
